@model SchoolDb.ViewModels.Course.CourseIndexViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<div>
    <h2>@Model.Title</h2>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div id="vue-app">
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Förnamn</th>
                <th scope="col">Efternamn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr v-on:click="openCourseDetails(@course.Id)">
                    <td>@course.Id</td>
                    <td>@course.Name</td>
                    <td>@($"{course.Teacher.FirstName} {course.Teacher.LastName}")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="~/js/CourseIndex.js"></script>